* {
  box-sizing: border-box;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

#root {
  margin: auto;
}

.header {
  border-bottom: 1px solid #262626;
  padding: 0 0 24px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.header-msg {
  font-size: 36px;
  padding: 0;
  margin: 0;
}

.intro-msg {
  background-color: #d4d4d4;
  color: black;
  width: 100vw;
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.header-msg, .intro-msg {
  text-transform:uppercase;
}

.score-board {
  display: flex;
  justify-content: center;
  margin: 10px;
  font-size: 11px;
}

.score-board h2 {
  margin-left: 20px;
  color: #4a5565; 
}

.score-board h2 span {
  color: #ffb900;
}

.main-container {
  max-height: 400px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  margin: auto;
}

.intro {
  padding: 0;
}

.difficulty-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.choose-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  margin: 10px;
  padding: 10px;
  border: 2px solid #404040;
  margin: 5px;
  background-color: #262626;
  border-radius: 6px;
  transition: 0.5s;
}

.choose-container:hover {
  transform: scale(1.05);
}

.difficulty {
  height: 200px;
  width: 200px;
  background-size: cover;
}

@media (max-width: 600px) {
  .difficulty {
    width: 100px;
    height: 100px;
  }
  h2 {
    font-size: 1.2rem;
  }
  .choose-container p {
    font-size: 0.8rem;
  }
  .intro {
    font-size: 0.8rem;
  }
}

.choose-container p {
  color: #a1a1a1;
}

.pokemon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #404040;
  margin: 5px;
  background-color: #262626;
  border-radius: 6px;
}

.pokemon-container:hover {
  border: 2px solid white;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.pokemon-card {
  margin: 5px;
  width: 150px;
  height: 150px;
  background-size: cover;
}

@media (max-width: 600px) {
  .pokemon-card {
    width: 80px;
    height: 80px;
  }
  
}

.pokemon-card:hover {
  transform: scale(1.3);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
  margin: auto;
}

.layout, .win-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.message {
  width: 400px;
  height: 180px;
  background-color: #171717;
  border-radius: 5px;
  border: 2px solid #404040;
  padding: 10px;
}

.message h1 {
  color: #ffb900;
}

.message-container {
  display: flex;
  justify-content: center;
}

.message-container p {
  color: #a1a1a1;
  margin:  7px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button-container button {
  padding: 5px 20px;
  margin: 5px;
  border-radius: 10px;
  
}

.button-container button:hover {
  background-color: #ffb900;
  border: 1px solid white;
}

h1, h2  {
  color: white;
  text-align: center;
  margin: 0;
}

p {
  color: white;
  padding: 5px;
  margin: 0;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}